<table>
<tr>
<th>Original URL</th>
<th>Shortened URL</th>
</tr>

<%  @urls.each do |url| %>
    <tr>
    <td> <%= link_to url.long_url, url_path(url.id) %></td>
    <td> <%= url.short_url %></td>
    </tr>   
<% end %>
</table>